# venv
.venv/
env/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Tests
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project
.cache/
logs/
*.log